h1 {
    font-family: 'Wire One', sans-serif;
    font-size:90px;
    margin:auto;
    text-align: center;
}

img { 
    align: center;
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

.bottomimg {
    width: 5%;
}

.middleResults {
    text-align: center;
}

.resultsTable {
    margin: 10px auto;
    width: 75%
}

.footer {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0px;	
    margin:auto;
}

.imgHolder {
    position: relative;
}

.imgHolder .spanLeft {
    font-family: 'Wire One', sans-serif;
    font-size:38px;
    position: absolute;
    float: left;
    padding-left: 20px;
    top: 20px;
}

.imgHolder .spanRight {
    font-family: 'Wire One', sans-serif;
    font-size:20px;
    position: absolute;
    float: left;
    padding-left: 20px;
    bottom: 10px;
}
